extends layout

block content
  h1(align='center') فريج
  h4(align='center') آخر الأهداف

  each post in posts
    =post.homeTeamName + ' ' + post.awayTeamName
    ul
      each clip in post.clips
        li.list-group-item
            a(href=clip.link)=clip.ar_title