extends layout

block content
  ul(dir="rtl")
    each post in posts
        li 
          p(dir='rtl')
            a(href=post.link)
              =post.title
          p(dir='rtl')
           font(color='blue')
          p(dir='rtl')
            font(color='red')
              =post.text
          hr