extends layout

block content
  ul
    each post in posts
        li 
          p
            a(href=post.link)
              =post.title
          p
           font(color='blue')
          p
            font(color='red')
              =post.text
          hr