html *
{
   
  font-family: "DejaVu Serif" !important;
}

body {
  padding: 50px;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
  direction: rtl;
}

li{
    margin-top: 0px;
}

li:first-child {
    margin-top:0;
}

hr{
    padding: 0px;
    margin: 0px;    
}

input[type=text] {
   width: 550px;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}

textarea{
    width: 550px;
}

a {
  color: #00B7FF;
}
